<ion-view title="Barang Toko - Nama Toko" id="page10">
	<ion-content padding="true" class="has-header">
		<div id="barangTokoNamaToko-container6" class="row">
			<div class="list card col col-50" id="barangTokoNamaToko-card23" style="margin: 1px;">
				<ion-item id="barangTokoNamaToko-list-item44" ui-sref="rincianBarangNamaBarang()">Nama Barang</ion-item>
				<div class=" item item-image">
					<a style="display:block;" ui-sref="rincianBarangNamaBarang()">
						<img src="img/1TIhyVGzTlizRQFqP54I_Logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
					</a>
				</div>
				<div class="item item-body" id="barangTokoNamaToko-list-item-container14">
					<div id="barangTokoNamaToko-markdown16" class="show-list-numbers-and-dots">
						<p style="margin-top:0px;color:#000000;">Data Barang</p>
					</div>
				</div>
				<button id="barangTokoNamaToko-button11" class="button button-positive button-small button-block icon-right ion-android-send">Order</button>
			</div>
			<div class="list card col col-50" id="barangTokoNamaToko-card25" style="margin: 1px;">
				<ion-item id="barangTokoNamaToko-list-item46" ui-sref="rincianBarangNamaBarang()">Nama Barang</ion-item>
				<div class=" item item-image">
					<a style="display:block;" ui-sref="rincianBarangNamaBarang()">
						<img src="img/1TIhyVGzTlizRQFqP54I_Logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
					</a>
				</div>
				<div class="item item-body" id="barangTokoNamaToko-list-item-container15">
					<div id="barangTokoNamaToko-markdown17" class="show-list-numbers-and-dots">
						<p style="margin-top:0px;color:#000000;">Data Barang</p>
					</div>
				</div>
				<button id="barangTokoNamaToko-button12" class="button button-positive button-small button-block icon-right ion-android-send">Order</button>
			</div>
		</div>
	</ion-content>
</ion-view>