<ion-view title="Daftar Barang" id="page-product">
	<ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="myGoBack()">
			<i class="icon ion-ios-arrow-back"></i>
			Back
		</button>
	</ion-nav-buttons>
	<ion-content padding="true" class="has-header">
		<p style="font-style: italic; text-align: justify; margin-bottom: 20px; color:#000000;" id="barangDaftar-heading">Daftar Barang untuk penyewaan selama {{ jumlahHariSewa }} hari, dari tanggal {{tglAwal | date: 'dd-MM-yyyy'}} sampai tanggal {{tglAkhir | date: 'dd-MM-yyyy'}}</p>

		<form id="barangDaftar-search-form" class="list">
			<label class="item item-input item-floating-label" id="barangDaftar-input-keyword">
				<input type="text" name="keyWord" placeholder="Kata Kunci... (Opsional)">
			</label>
			<button id="search-button" class="button button-positive button-block"
				ng-click="searchItem(tglAwal, tglAkhir, keyWord)">Cari</button>
		</form>

		<div class="content row grid-wrap">
			<div class="list card col {{ barang.col_class }}" id="barangDaftar-card21" ng-repeat="barang in barangAll"
				style="margin-bottom: 0px;">
				<ion-item id="barangDaftar-list-item12" ng-click="rincianBarang(barang)">{{ barang.nama_barang }}</ion-item>
				<div class=" item item-image">
					<a style="display:block;" ng-click="rincianBarang(barang)" ng-if="barang.foto_all" ng-repeat="item in barang.foto_all | limitTo: 1">
						<img ng-if="item.foto" src="{{serverURL + '/' + item.foto}}" style="display: block; width: 100%; height: 100px; margin-left: auto; margin-right: auto;">
						<img ng-if="!item.foto" src="img/3lMSLs2GRdCRObNa0Yw7_Logo.png" style="display: block; width: 100%; height: 100px; margin-left: auto; margin-right: auto;">
					</a>
					<a style="display:block;" ng-click="rincianBarang(barang)" ng-if="!barang.foto_all">
						<img src="img/3lMSLs2GRdCRObNa0Yw7_Logo.png" style="display: block; width: 100%; height: 100px; margin-left: auto; margin-right: auto;">
					</a>
				</div>
				<div class="item item-body" id="barangDaftar-list-item-container2">
					<div id="barangDaftar-markdown2" style="text-align:justify;" class="show-list-numbers-and-dots">
						<p style="margin-top:0px;color:#000000;">
						<table>
							<tr>
								<td>Sewa</td>
								<td>: {{ barang.harga_sewa | currency : "Rp. " : 0 }}</td>
							</tr>
							<tr>
								<td>Stok</td>
								<td>: {{ barang.stok | number }}</td>
							</tr>
						</table>
						</p>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>