<ion-view title="Coba Textarea Page" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="cobaTextareaPage-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="cobaTextareaPage-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cobaTextareaPage-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cobaTextareaPage-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <ion-list id="cobaTextareaPage-list2">
      <ion-item id="cobaTextareaPage-list-item14">Item 1</ion-item>
      <ion-item id="cobaTextareaPage-list-item15">Item 2</ion-item>
      <ion-item id="cobaTextareaPage-list-item16">Item 3</ion-item>
      <div class="item item-body" id="cobaTextareaPage-list-item-container3">
        <div id="cobaTextareaPage-markdown4" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>