<ion-view title="Edit - Profil" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="editProfil-form4" class="list">
      <ion-list id="editProfil-list8">
        <label class="item item-input item-floating-label" id="editProfil-input9" name="nama_pelanggan">
          <span class="input-label">Nama Lengkap</span>
          <input type="text" placeholder="Nama Lengkap">
        </label>
        <label class="item item-input item-floating-label" id="editProfil-input11" name="no_hp">
          <span class="input-label">No. HP</span>
          <input type="text" placeholder="No. HP">
        </label>
        <label class="item item-input item-floating-label" id="editProfil-input12" name="alamat">
          <span class="input-label">Alamat</span>
          <input type="text" placeholder="Alamat">
        </label>
      </ion-list>
      <button id="editProfil-button10" class="button button-positive button-block icon-right ion-android-send">Simpan</button>
    </form>
  </ion-content>
</ion-view>