<ion-view title="Edit - Email" id="page22">
  <ion-content padding="true" class="has-header">
    <form id="editEmail-form9" class="list">
      <ion-list id="editEmail-list18">
        <label class="item item-input item-floating-label" id="editEmail-input27" name="email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email">
        </label>
      </ion-list>
      <button id="editEmail-button15" class="button button-positive button-block icon-right ion-android-send">Simpan</button>
    </form>
  </ion-content>
</ion-view>