<ion-view title="Pelanggan - Nama Pelanggan" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="pelangganNamaPelanggan-container7">
      <div>
        <img src="img/3lMSLs2GRdCRObNa0Yw7_Logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="pelangganNamaPelanggan-list16" class="manual-list-fullwidth">
        <ion-item id="pelangganNamaPelanggan-list-item83">Nama Pelanggan
          <span class="item-note">Nama Pelanggan...</span>
        </ion-item>
        <ion-item id="pelangganNamaPelanggan-list-item85">Alamat
          <span class="item-note">Alamat Toko...</span>
        </ion-item>
        <ion-item id="pelangganNamaPelanggan-list-item86">No. Telp
          <span class="item-note">No. Telp/HP...</span>
        </ion-item>
        <ion-item id="pelangganNamaPelanggan-list-item87">Email
          <span class="item-note">Alamat Email...</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>