<ion-view title="Rincian Ulasan - Nama Barang" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="rincianUlasanNamaBarang-list15" class="manual-list-fullwidth">
      <ion-item class="item-avatar" id="rincianUlasanNamaBarang-list-item82">
        <img src="img/zTCXglJxSkCp1m0Vk15A_Logo.png">
        <h2>Nama Pelanggan</h2>
        <p>Bintang</p>
      </ion-item>
      <div class="item item-body" id="rincianUlasanNamaBarang-list-item-container20">
        <div id="rincianUlasanNamaBarang-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Deskripsi Ulasan Pelanggan...</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>