<ion-view title="Toko - Nama Toko" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="tokoNamaToko-container4">
      <div>
        <img src="img/3lMSLs2GRdCRObNa0Yw7_Logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="tokoNamaToko-list5" class="manual-list-fullwidth">
        <ion-item id="tokoNamaToko-list-item24">Nama Toko
          <span class="item-note">Nama Toko...</span>
        </ion-item>
        <ion-item id="tokoNamaToko-list-item25">Nama Pemilik
          <span class="item-note">Nama Pemilik...</span>
        </ion-item>
        <ion-item id="tokoNamaToko-list-item26">Alamat
          <span class="item-note">Alamat Toko...</span>
        </ion-item>
        <ion-item id="tokoNamaToko-list-item30">No. Telp
          <span class="item-note">No. Telp/HP...</span>
        </ion-item>
        <ion-item id="tokoNamaToko-list-item31">Email
          <span class="item-note">Alamat Email...</span>
        </ion-item>
        <ion-item id="tokoNamaToko-list-item32">Peringkat
          <span class="item-note">Peringkat Toko...</span>
        </ion-item>
        <ion-item class="item-icon-right" id="tokoNamaToko-list-item32" ui-sref="barangTokoNamaToko()">Daftar Barang Kami
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>